<form class="{{cssClass}}" autocomplete="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    <label>Classe
        <input name="data.item.sort.classe" type="text" value="{{data.item.sort.classe}}" placeholder="Classe de personnage"/>
    </label>
    <label>Domaine
        <input name="data.item.sort.domaine" type="text" value="{{data.item.sort.domaine}}" placeholder="Domaine de sort"/>
    </label>
	<label>Niveau
        <input name="data.item.sort.niveau" type="number" value="{{data.item.sort.niveau}}" placeholder="Niveau du sort"/>
    </label>
	<label>Cout
        <input name="data.item.sort.cout" type="number" value="{{data.item.sort.cout}}" placeholder="Cout du sort"/>
    </label>
	<label>Description
        <input name="data.item.sort.description" type="text" value="{{data.item.sort.description}}" placeholder="Description de sort"/>
    </label>
	<label>Effets
        <input name="data.item.sort.effets" type="text" value="{{data.item.sort.effets}}" placeholder="Effets du sort"/>
    </label>
</form>